<!DOCTYPE html>
<html>
    <head>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <title>{% block title %} {%endblock%}</title>
        <link
            rel="shortcut icon"
            type="image/jpg"
            href="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/100/000000/external-woman-avatar-with-mask-vitaliy-gorbachev-lineal-vitaly-gorbachev-19.png"
        />
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Pressure log</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"
                            >Home <span class="sr-only">(current)</span></a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashapp">Stats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/actions">Actions</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- <div>{{content}}</div> -->
        {%block content%} {%endblock%}
        <div class="card text-center">
            <div class="card-header">Footer</div>
            <div class="card-body">
                <h5 class="card-title">Pressure log app 2022</h5>
                <p class="card-text">
                    Contact me:
                    <span
                        ><a
                            href="https://github.com/akorzunin"
                            class="text-gray-600 ml-1"
                            target="_blank"
                            rel="noopener noreferrer"
                            >github@akorzunin</a
                        ></span
                    >
                    <span
                        ><a
                            href="https://t.me/akorzunin"
                            class="text-gray-600 ml-1"
                            target="_blank"
                            rel="noopener noreferrer"
                            >telegram@akorzunin</a
                        ></span
                    >
                    
                </p>

                <a href="#" class="btn btn-primary">Back to top</a>
            </div>
            <div class="card-footer text-muted">2022</div>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
